
<ion-content>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()" novalidate>
    <ion-grid class="ion-padding">
      <ion-row class="ion-justify-content-center main-login">
        <h1 style="font-weight: bold;">Indigy Test</h1>
      </ion-row>

      <ion-row style="margin-bottom: 10px; margin-top: 45px;">
        <ion-col size-sm="10" size-md="5" class="mx-auto">
          <ion-label position="floating">Username</ion-label>
          <ion-item class="box" lines="none">
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <span class="dp error mt-5" *ngIf="isSubmitted && errorControl.username.errors?.required">
            Username is required.
          </span>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size-sm="10" size-md="5" class="mx-auto">
          <ion-label position="floating">Password</ion-label>
          <ion-item class="box" lines="none">
            <ion-input  formControlName="password" type="password"></ion-input>
          </ion-item>
          <span class="dp error mt-5" *ngIf="isSubmitted && errorControl.username.errors?.required">
            Password is required.
          </span>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 15px;">
        <ion-col size-sm="10" size-md="5" class="mx-auto">
          <ion-button style="margin-bottom: 10px;" type="submit" expand="block">Sing In</ion-button>
          <div class="ion-text-center pt-login">You connot access your account. <a style="text-decoration: underline;">Forgot Password?</a></div>
          <!-- <p></p> -->
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="3" class="ion-text-center px0 mx0">
          <img src="assets\icon\icon_apple.png" width="50%" >
        </ion-col>
        <ion-col size="3" class="ion-text-center px0 mx0">
          <img src="assets\icon\icon_facebook.png" width="50%" >
        </ion-col>
        <ion-col size="3" class="ion-text-center px0 mx0">
          <img src="assets\icon\icon_google.png" width="50%">
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
    <hr/>
    <ion-grid class="ion-padding">
      <div class="ion-text-center pt-login"><p>You don't have any account?</p></div>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="10" size-md="5" class="mx-auto">
          <ion-button type="button" color="outline" expand="block" class="ion-color-outline">Sing Up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
