<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <div class="text-title"> {{username}} </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="mt-12 ml-14">
      <div class="ml-11 text-menu">Menu 1</div>
      <ion-col class="no-padding">
        <div class="card-slides">
          <ion-slides #slides [options]="slidesOptions" (ionSlideTouchEnd)="slideChanged($event)">
            <ion-slide *ngFor="let card of mockData">
              <ion-card class="card-btn">
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="mt-10 ml-14">
      <div class="ml-11 text-menu">Menu 2</div>
      <ion-col>
        <div class="circle-slides">
          <ion-slides #slides [options]="slidesOptions" (ionSlideTouchEnd)="slideChanged($event)">
            <ion-slide *ngFor="let card of mockData">
              <ion-card class="circle-btn">
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class=" ion-justify-content-center mt-10 ml-14 mr-14">
    <div class="ml-11 text-menu">Menu 3</div>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="3" size-sm="5"  class="ion-text-center px0 mx0">
        <ion-card class="card-menu"></ion-card>
      </ion-col>
      <ion-col size-md="3" size-sm="5" class="ion-text-center px0 mx0">
        <ion-card class="card-menu"></ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="3" size-sm="5" class="ion-text-center px0 mx0">
        <ion-card class="card-menu"></ion-card>
      </ion-col>
      <ion-col size-md="3" size-sm="5" class="ion-text-center px0 mx0">
        <ion-card class="card-menu"></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
