ion-item {
  &.box {
      --background: var(--theme-background-box);
      border-radius: 15px;
      margin-top: 5px;
  }
}

ion-button {
  --ion-button-round-border-radius: 15px;
  --ion-button-border-radius: 15px;
  --ion-border-radius: 15px;
  --border-radius: 15px;
  min-height: 48px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

ion-toolbar {
  --background: var(--ion-color-primaryd);
  background: var(--ion-color-primary);
  height: 105px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.text-title {
  --color: var(---theme-background);
  color: var(--theme-background);
  font-size: 25px;
  margin-top: 35px;
  margin-left: 25px;
}


ion-tab-button {
  ion-label {
    font-size: 14px;
  }
}

.text-menu {
  --color: var(--ion-color-primaryd);
  color: var(--ion-color-primary);
  font-size: 13px;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.dp {
  display :block;
}
.dn {
  display: none;
}

.no-padding{
  padding: 0;
}

.error {
  --color: var(--ion-color-danger);
  color: var(--ion-color-danger);
  font-size: 13px;
}

.content-margin-auto {
  padding: 0 25px 0 25px;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@for $i from 0 through 1000 {
  .p-#{$i} {
      padding: $i + 0px !important;
   }
  .py-#{$i} {
     padding-top: $i + 0px !important;
     padding-bottom: $i + 0px !important;
  }
  .px-#{$i} {
      padding-left: $i + 0px !important;
      padding-right: $i + 0px !important;
  }
  .pr-#{$i} {
      padding-right: $i + 0px !important;
  }
  .pl-#{$i} {
      padding-left: $i + 0px !important;
  }
  .m-#{$i} {
      margin: $i + 0px !important;
   }
  .my-#{$i} {
      margin-top: $i + 0px !important;
      margin-bottom: $i + 0px !important;
  }
  .mx-#{$i} {
       margin-left: $i + 0px !important;
       margin-right: $i + 0px !important;
  }
  .mr-#{$i} {
      margin-right: $i + 0px !important;
  }
  .ml-#{$i} {
      margin-left: $i + 0px !important;
  }
  .mb-#{$i} {
      margin-bottom: $i + 0px !important;
  }
  .mt-#{$i} {
      margin-top: $i + 0px !important;
  }
  .mxh-#{$i} {
      max-height: $i + 0px !important;
  }
  .mnh-#{$i} {
      min-height: $i + 0px !important;
  }

}

.card-slides {
  ion-slide {
    ion-card {
      width: 100%;
      height: 130px;
      &.card-btn {
        border-radius: 17px;
      }
    }
  }
}

.circle-slides {
  ion-slide {
    width: 95px !important;
    margin-right: -15px !important;
    ion-card {
      width: 69%;
      height: 63px;
      margin-top: 12px;
      &.circle-btn {
        border-radius: 100px;
      }

    }
  }
}

.card-menu {
  width: 85%;
  height: 109px;
  border-radius: 15px;
  margin-bottom: 1px;
  margin-top: 10px;
  margin-left: 10px;
}






